article.block-editor {
  font-size: 1.125rem;
  & a {
    color: var(--gold);
    text-decoration: underline;
  }
  & h1 {
    font-size: 2.125rem;
    font-weight: bold;
  }
  & h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  & h3 {
    font-size: 1.625rem;
    font-weight: bold;
  }
  & h4 {
    font-size: 1.375rem;
    font-weight: bold;
  }
  & h5 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  & h6 {
    font-size: 1.125rem;
    font-weight: bold;
  }

  & ul {
    padding-left: 1.75rem;
    & li {
      list-style-type: disc;
    }
  }

  & ol {
    padding-left: 1.15rem;
    & li {
      list-style-type: decimal;
    }
  }
}
