.swiper-slide-next {
  transform: rotate(12deg) !important;
}

.swiper-slide-prev {
  transform: rotate(-12deg) !important;
}

.swiper-slide:not(.swiper-slide-active) {
  scale: 0.65 !important;
}

.swiper-slide {
  transition: 0.5s !important;
}
