.stackcard::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.75) 100%);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border-radius: 32px;
}
