nav.gold-theme {
    & * {
        color: $gold;
        border-color: $gold;
    }
    & #bar-icon {
        & path {
            fill: $gold;
        }

        &:hover path {
            fill: #000;
        }
    }

    & #user-icon {
        & path {
            stroke: $gold;
        }
        &:hover path {
            stroke: #000;
        }
    }
}

nav {
    & button,
    a,
    path {
        transition:
            color 0.2s,
            border-color 0.2s,
            fill 0.2s,
            stroke 0.2s;
    }
}

#mobile-nav-menu {
    & button,
    a,
    path,
    rect {
        transition:
            color 0.2s,
            border-color 0.2s,
            fill 0.2s,
            stroke 0.2s;
    }
}
