.text-body-gradient {
  color: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.bg-body-gradient {
  background: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.accent-body-gradient {
  accent-color: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.border-body-gradient {
  border-color: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.hover-bg-body-gradient:hover {
  background: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.hover-text-body-gradient:hover {
  color: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.placeholder-body-gradient::-moz-placeholder {
  color: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.placeholder-body-gradient::placeholder {
  color: linear-gradient(180deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.text-body-gradient-flip {
  color: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.bg-body-gradient-flip {
  background: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.accent-body-gradient-flip {
  accent-color: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.border-body-gradient-flip {
  border-color: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.hover-bg-body-gradient-flip:hover {
  background: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.hover-text-body-gradient-flip:hover {
  color: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.placeholder-body-gradient-flip::-moz-placeholder {
  color: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.placeholder-body-gradient-flip::placeholder {
  color: linear-gradient(0deg, #f3f0e9 92.23%, rgba(243, 240, 233, 0) 100%);
}

.text-body-gold {
  color: #f3f0e9;
}

.bg-body-gold {
  background: #f3f0e9;
}

.accent-body-gold {
  accent-color: #f3f0e9;
}

.border-body-gold {
  border-color: #f3f0e9;
}

.hover-bg-body-gold:hover {
  background: #f3f0e9;
}

.hover-text-body-gold:hover {
  color: #f3f0e9;
}

.placeholder-body-gold::-moz-placeholder {
  color: #f3f0e9;
}

.placeholder-body-gold::placeholder {
  color: #f3f0e9;
}

.text-gold {
  color: rgb(173, 156, 108);
}

.bg-gold {
  background: rgb(173, 156, 108);
}

.accent-gold {
  accent-color: rgb(173, 156, 108);
}

.border-gold {
  border-color: rgb(173, 156, 108);
}

.hover-bg-gold:hover {
  background: rgb(173, 156, 108);
}

.hover-text-gold:hover {
  color: rgb(173, 156, 108);
}

.placeholder-gold::-moz-placeholder {
  color: rgb(173, 156, 108);
}

.placeholder-gold::placeholder {
  color: rgb(173, 156, 108);
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5, .master-card .master-info .master-desc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.playfair-font {
  font-family: "Playfair Display", "IBM Plex Sans Thai", sans-serif !important;
}

.btn-rounded-gold {
  aspect-ratio: 1/1;
  display: flex;
  border: 1px solid rgb(173, 156, 108);
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  transition: 0.2s;
}
.btn-rounded-gold:hover {
  background: rgb(173, 156, 108);
  color: #f3f0e9;
}
.btn-rounded-gold:hover rect,
.btn-rounded-gold:hover path {
  fill: #fff;
  stroke: #fff;
}
.btn-rounded-gold:hover img {
  filter: contrast(100) grayscale(100%);
}

.btn-rounded-white {
  aspect-ratio: 1/1;
  display: flex;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  transition: 0.2s;
}
.btn-rounded-white:hover {
  background: #fff;
  color: #000;
}
.btn-rounded-white:hover rect,
.btn-rounded-white:hover path {
  fill: #000;
  stroke: #000;
}
.btn-rounded-white:hover img {
  filter: contrast(0) grayscale(100%);
}

.btn-gold {
  height: 2.5rem;
  padding: 0 2.5rem;
  background: rgb(173, 156, 108);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: #fff;
  transition: background-color 0.2s;
}
.btn-gold:hover {
  background: #8d7d4f;
}

.btn-white {
  height: 2.5rem;
  padding: 0 2.5rem;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: rgb(173, 156, 108);
  transition: background-color 0.2s;
}
.btn-white:hover {
  background: #e0e0e0;
}

.btn-stroke-gold {
  height: 2.5rem;
  padding: 0 2.5rem;
  background: transparent;
  border: 1px solid rgb(173, 156, 108);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: rgb(173, 156, 108);
  transition: 0.2s;
}
.btn-stroke-gold:hover {
  background: rgb(173, 156, 108);
  color: #f3f0e9;
}

.section-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  text-transform: uppercase;
}
.section-link:hover .btn-rounded-gold {
  background: rgb(173, 156, 108);
  color: #f3f0e9;
}
.section-link:hover .btn-rounded-gold rect,
.section-link:hover .btn-rounded-gold path {
  fill: #fff;
  stroke: #fff;
}
.section-link:hover .btn-rounded-gold img {
  filter: contrast(100) grayscale(100%);
}

.heading-section-text {
  color: rgb(173, 156, 108);
  font-size: clamp(1.75rem, 5vw, 2.375rem);
}

.underline-link-gold {
  position: relative;
  color: rgb(173, 156, 108);
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.underline-link-gold::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 0.125rem;
  background: rgb(173, 156, 108);
  transition: 0.25s;
}
.underline-link-gold:hover::before {
  width: 100%;
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  backface-visibility: hidden;
  display: flex;
  height: 100%;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide:not(.is-overflow) .splide__pagination {
  display: none;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__arrow:disabled {
  opacity: 0.5;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  left: 0;
  display: flex;
  align-items: center;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  background: #f4f1ea;
  position: relative;
  overflow: hidden;
  margin: 0 5px;
}

.splide__pagination__page.is-active {
  width: 2.75rem;
  position: relative;
  margin-bottom: 9.5px;
}

.splide__pagination__page.is-active .active-interval {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 9999px;
  background: rgb(173, 156, 108);
  animation: active-progress 4s forwards linear;
}

@keyframes active-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.3s;
}
.splide__slide * {
  transition: transform 0.3s;
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

nav.gold-theme * {
  color: rgb(173, 156, 108);
  border-color: rgb(173, 156, 108);
}
nav.gold-theme #bar-icon path {
  fill: rgb(173, 156, 108);
}
nav.gold-theme #bar-icon:hover path {
  fill: #000;
}
nav.gold-theme #user-icon path {
  stroke: rgb(173, 156, 108);
}
nav.gold-theme #user-icon:hover path {
  stroke: #000;
}

nav button,
nav a,
nav path {
  transition: color 0.2s, border-color 0.2s, fill 0.2s, stroke 0.2s;
}

#mobile-nav-menu button,
#mobile-nav-menu a,
#mobile-nav-menu path,
#mobile-nav-menu rect {
  transition: color 0.2s, border-color 0.2s, fill 0.2s, stroke 0.2s;
}

* {
  touch-action: manipulation;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

html {
  font-size: clamp(14px, 1vw, 16px);
}

body {
  background: #fff;
  min-height: 100vh;
  display: flex;
  font-family: "IBM Plex Sans Thai", sans-serif;
  flex-direction: column;
  transition: background-color 0.075s;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  position: relative;
  padding-right: 1rem;
}
@media (max-width: 1366px) {
  .main-container {
    max-width: 1136px;
  }
}

.main-container-sm {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  position: relative;
  padding-right: 1rem;
}
@media (max-width: 980px) {
  .main-container-sm {
    max-width: 768px;
  }
}

.main-container-xs {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  position: relative;
  padding-right: 1rem;
}
@media (max-width: 0px) {
  .main-container-xs {
    max-width: 768px;
  }
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(1);
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.hide-scroll-bar::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.sm-scroll-bar::-webkit-scrollbar {
  width: 6px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fade-out 0.6s forwards !important;
}

main#main-content {
  flex: 1 1 0;
  animation: fade-in 0.35s forwards;
}

ul {
  padding-left: 1.75rem;
}
ul li {
  list-style-type: disc;
}

ol {
  padding-left: 1.15rem;
}
ol li {
  list-style-type: decimal;
}

.ease-theme {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.collapsible {
  display: grid;
  text-align: left;
  justify-items: start;
}
.collapsible > button {
  text-align: left;
}
.collapsible .button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  flex-shrink: 0;
  transition: transform 0.25s;
}
.collapsible > button * {
  pointer-events: none;
}
.collapsible .collapsible-content-wrapper {
  display: grid;
  width: 100%;
  transition: grid-template-rows 0.25s, margin-top 0.25s;
}
.collapsible.active .collapsible-content-wrapper {
  grid-template-rows: 1fr;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.collapsible.active .button-icon {
  transform: rotate(-180deg);
}
.collapsible:not(.active) .collapsible-content-wrapper {
  grid-template-rows: 0fr;
}
.collapsible .collapsible-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.collapsible .collapsible-content a,
.collapsible .collapsible-content button {
  padding-left: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mobile-menu-list::-webkit-scrollbar {
  width: 5px;
}

.storytelling-card {
  aspect-ratio: 0.65;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  background: #c4c4c4;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (hover: hover) and (pointer: fine) {
  .storytelling-card:hover {
    transform: scale(0.925) !important;
  }
  .storytelling-card:hover > img {
    transform: scale(1.075);
  }
}
.storytelling-card .storytelling-info {
  position: absolute;
  z-index: 10;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 1rem;
  padding: 1.75rem 1.25rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.22%, rgba(0, 0, 0, 0.9) 82.2%);
}
.storytelling-card .storytelling-info .storytelling-heading {
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: bold;
}
.storytelling-card .storytelling-info .info-underline {
  width: 3rem;
  height: 1px;
  background: #fff;
}
.storytelling-card .storytelling-info .storytelling-desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.storytelling-card > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.master-card {
  aspect-ratio: 0.65;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (hover: hover) and (pointer: fine) {
  .master-card:hover {
    transform: scale(0.95) !important;
  }
}
.master-card .master-info {
  position: absolute;
  z-index: 10;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 1rem;
  padding: 1.75rem 1.25rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.22%, rgba(0, 0, 0, 0.9) 82.2%);
}
.master-card .master-info .master-heading {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: bold;
}
.master-card .master-info .info-underline {
  width: 3rem;
  height: 1px;
  background: #fff;
}
.master-card .master-info .master-desc {
  width: 100%;
}
.master-card > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pagination-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  background: #f4f1ea;
  position: relative;
  overflow: hidden;
}
.pagination-dot.active {
  width: 2.75rem;
}
.pagination-dot.active .active-interval {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 9999px;
  background: rgb(173, 156, 108);
}

.pagination-dot-active {
  width: 2.9rem;
  position: relative;
}
.input-wrapper {
  width: 100%;
  height: 2.25rem;
  position: relative;
  border-bottom: 1px solid rgba(173, 156, 108, 0.5);
}
.input-wrapper label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.25s;
  color: rgba(0, 0, 0, 0.75);
}
.input-wrapper input {
  height: 100%;
  width: 100%;
}
.input-wrapper:has(input:not(input:-moz-placeholder-shown)) label {
  top: -25%;
  font-size: 0.875rem;
  color: rgb(173, 156, 108);
}
.input-wrapper:has(input:focus) label, .input-wrapper:has(input:not(input:placeholder-shown)) label {
  top: -25%;
  font-size: 0.875rem;
  color: rgb(173, 156, 108);
}/*# sourceMappingURL=global.css.map */