@import "../../modules/main";

.collapsible {
    display: grid;
    text-align: left;
    justify-items: start;
    & > button {
        text-align: left;
    }

    & .button-icon {
        transition: transform 0.25s;
    }
    & > button * {
        pointer-events: none;
    }
    .collapsible-content-wrapper {
        display: grid;
        transition:
            grid-template-rows 0.25s,
            margin-top 0.25s;
    }
    &.active {
        .collapsible-content-wrapper {
            grid-template-rows: 1fr;
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }
        .button-icon {
            transform: rotate(-180deg);
        }
    }
    &:not(.active) {
        .collapsible-content-wrapper {
            grid-template-rows: 0fr;
        }
    }
    .collapsible-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        a,
        button {
            padding-left: 1.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#mobile-menu-list::-webkit-scrollbar {
    width: 5px;
}

.storytelling-card {
    aspect-ratio: 0.65;
    height: fit-content;
    position: relative;
    flex-shrink: 0;
    text-align: center;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(0.925) !important;
            & > img {
                transform: scale(1.075);
            }
        }
    }

    & .storytelling-info {
        position: absolute;
        z-index: 10;
        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        row-gap: 1rem;
        padding: 1.5rem 0.75rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.22%, rgba(0, 0, 0, 0.9) 82.2%);

        & .storytelling-heading {
            @extend .playfair-font;
            font-size: 2.25rem;
            font-weight: bold;
        }

        & .info-underline {
            width: 3rem;
            height: 1px;
            background: #fff;
        }

        & .storytelling-desc {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.pagination-dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    background: #f4f1ea;
    position: relative;
    overflow: hidden;
    &.active {
        width: 2.75rem;
        &::before {
            position: absolute;
            content: "";
            width: 60%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 9999px;
            background: $gold;
        }
    }
}

.pagination-dot-active {
    width: 2.9rem;
    position: relative;
    &::before {
    }
}
