.main-article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1.25rem;
        font-weight: 700;
    }
    h1 {
        font-size: clamp(2rem, 5vw, 2.25rem);
        color: $gold;
    }
    h2 {
        font-size: 1.875rem;
        color: $gold;
    }
    h3 {
        color: $gold;
        font-size: 1.5rem;
    }
    h4 {
        color: $gold;
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    h6 {
        font-size: 1rem;
        color: $gold;
        font-weight: 400;
    }
    p {
        margin-bottom: 1.25rem;
    }

    ul,
    ol {
        margin-bottom: 1.25rem;
    }

    li {
        margin-left: 1rem;
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: disc;
    }
}
