@import "./colors";

$colors: (
    "body-gradient": $body-gradient,
    "body-gradient-flip": $body-gradient-flip,
    "body-gold": $body-gold,
    "gold": $gold
);

@each $key, $value in $colors {
    .text-#{$key} {
        color: $value;
    }
    .bg-#{$key} {
        background: $value;
    }
    .accent-#{$key} {
        accent-color: $value;
    }
    .border-#{$key} {
        border-color: $value;
    }
    .hover-bg-#{$key}:hover {
        background: $value;
    }
    .hover-text-#{$key}:hover {
        color: $value;
    }
    .placeholder-#{$key}::placeholder {
        color: $value;
    }
}

@for $i from 1 through 5 {
    .line-clamp-#{$i} {
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.playfair-font {
    font-family: "Playfair Display", "IBM Plex Sans Thai", sans-serif !important;
}

.btn-rounded-gold {
    aspect-ratio: 1/1;
    display: flex;
    border: 1px solid $gold;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    transition: 0.2s;
    color: $gold;
    &:hover {
        background: $gold;
        color: $body-gold;
        rect,
        path {
            fill: #fff;
            stroke: #fff;
        }
        img {
            filter: contrast(100) grayscale(100%);
        }
    }
    & i{
        font-size: 1.25rem;
    }
}

.btn-rounded-white {
    aspect-ratio: 1/1;
    display: flex;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    transition: 0.2s;
    &:hover {
        background: #fff;
        color: #000;
        rect,
        path {
            fill: #000;
            stroke: #000;
        }
        img {
            filter: contrast(0) grayscale(100%);
        }
    }
}

.btn-gold {
    height: 2.5rem;
    padding: 0 2.5rem;
    background: $gold;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: #fff;
    transition: background-color 0.2s;
    &:hover {
        background: darken($gold, 12);
    }
}

.btn-white {
    height: 2.5rem;
    padding: 0 2.5rem;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: $gold;
    transition: background-color 0.2s;
    &:hover {
        background: darken(#FFF, 12);
    }
}

.btn-stroke-gold {
    height: 2.5rem;
    padding: 0 2.5rem;
    background: transparent;
    border: 1px solid $gold;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: $gold;
    transition: 0.2s;
    &:hover {
        background: $gold;
        color: $body-gold;
    }
}
.section-link {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    text-transform: uppercase;
    &:hover .btn-rounded-gold {
        background: $gold;
        color: $body-gold;
        rect,
        path {
            fill: #fff;
            stroke: #fff;
        }
        img {
            filter: contrast(100) grayscale(100%);
        }
    }
}

.heading-section-text {
    color: $gold;
    font-size: clamp(1.75rem, 5vw, 2.375rem);
}

.underline-link-gold {
    position: relative;
    color: $gold;
    display: block;
    width: fit-content;
    &::before {
        content: "";
        position: absolute;
        width: 0%;
        bottom: 0;
        left: 0;
        height: 0.125rem;
        background: $gold;
        transition: 0.25s;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}
