@import "./colors";

$colors: (
    "body-gradient": $body-gradient,
    "body-gold": $body-gold,
    "gold": $gold
);

@each $key, $value in $colors {
    .text-#{$key} {
        color: $value;
    }
    .bg-#{$key} {
        background: $value;
    }
    .accent-#{$key} {
        accent-color: $value;
    }
    .border-#{$key} {
        border-color: $value;
    }
    .hover-bg-#{$key}:hover {
        background: $value;
    }
    .hover-text-#{$key}:hover {
        color: $value;
    }
}

@for $i from 1 through 5 {
    .line-clamp-#{$i} {
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.playfair-font {
    font-family: "Playfair Display", "IBM Plex Sans Thai", sans-serif !important;
}

.btn-rounded-gold {
    aspect-ratio: 1/1;
    display: flex;
    border: 1px solid $gold;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.btn-gold {
    height: 2.5rem;
    padding: 0 2.5rem;
    background: $gold;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: #fff;
}

.btn-stroke-gold {
    height: 2.5rem;
    padding: 0 2.5rem;
    background: transparent;
    border: 1px solid $gold;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: $gold;
}
.section-link {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

.heading-section-text {
    color: $gold;
    font-size: clamp(1.75rem, 5vw, 2.375rem);
}
