.collapsible {
  display: grid;
  text-align: left;
  justify-items: start;
  & > button {
    text-align: left;
  }

  & .button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    flex-shrink: 0;
    transition: transform 0.25s;
  }
  & > button * {
    pointer-events: none;
  }
  .collapsible-content-wrapper {
    display: grid;
    width: 100%;
    transition:
      grid-template-rows 0.25s,
      margin-top 0.25s;
  }
  &.active {
    .collapsible-content-wrapper {
      grid-template-rows: 1fr;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
    .button-icon {
      transform: rotate(-180deg);
    }
  }
  &:not(.active) {
    .collapsible-content-wrapper {
      grid-template-rows: 0fr;
    }
  }
  .collapsible-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    a,
    button {
      padding-left: 1.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

#mobile-menu-list::-webkit-scrollbar {
  width: 5px;
}

.storytelling-card {
  aspect-ratio: 0.65;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  background: #c4c4c4;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(0.925) !important;
      & > img {
        transform: scale(1.075);
      }
    }
  }

  & .storytelling-info {
    position: absolute;
    z-index: 10;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 1rem;
    padding: 1.75rem 1.25rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.22%, rgba(0, 0, 0, 0.9) 82.2%);

    & .storytelling-heading {
      font-size: 2.25rem;
      line-height: 1.25;
      font-weight: bold;
    }

    & .info-underline {
      width: 3rem;
      height: 1px;
      background: #fff;
    }

    & .storytelling-desc {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.master-card {
  aspect-ratio: 0.65;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(0.95) !important;
    }
  }
  & .master-info {
    position: absolute;
    z-index: 10;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 1rem;
    padding: 1.75rem 1.25rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.22%, rgba(0, 0, 0, 0.9) 82.2%);

    & .master-heading {
      font-size: 1.5rem;
      line-height: 1.25;
      font-weight: bold;
    }

    & .info-underline {
      width: 3rem;
      height: 1px;
      background: #fff;
    }

    & .master-desc {
      width: 100%;
      /* @extend .line-clamp-5; */
    }
  }

  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.pagination-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  background: #f4f1ea;
  position: relative;
  overflow: hidden;
  &.active {
    width: 2.75rem;
    & .active-interval {
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 9999px;
      background: var(--gold);
    }
  }
}

.pagination-dot-active {
  width: 2.9rem;
  position: relative;
}

.input-wrapper {
  width: 100%;
  height: 2.25rem;
  position: relative;
  border-bottom: 1px solid rgba(173, 156, 108, 0.5);
  & label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.25s;
    color: rgba(0, 0, 0, 0.75);
  }
  & input {
    height: 100%;
    width: 100%;
  }

  &:has(input:focus) label,
  &:has(input:not(input:placeholder-shown)) label {
    top: -25%;
    font-size: 0.875rem;
    color: var(--gold);
  }
}

.pagination-dot {
  width: 1.625rem;
  height: 0.5rem;
  border-radius: 9999px;
  background: #d9d9d9;
  position: relative;
  overflow: hidden;
  &.active .active-interval {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 9999px;
    background: var(--gold);
  }
}

.pagination-container {
  text-align: center;
  .pagination {
    display: flex;
    justify-content: center;
    column-gap: 0.4rem;
    padding: 0;
    margin: 0;
    button,
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 999px;
      cursor: pointer;
      color: #a6a6a6;
      font-weight: 400;
      margin-top: 2.5px;

      &.active {
        background-color: var(--gold);
        color: #fff;
      }
      & img {
        margin-bottom: 2.5px;
      }
    }
  }
}

.dynamic-img-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1.25rem;
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(12.75rem, 1fr));
    & > div {
      grid-column: unset !important;
      grid-row: unset !important;
    }
  }

  & > div {
    background-color: #eee;
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
  }
  & > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    transition: scale 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      scale: 1.1;
    }
  }
}

input[type="checkbox"] {
  appearance: none;

  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.25rem;
  accent-color: rgba(10, 10, 10, 1);
  color: rgba(10, 10, 10, 1);
  border: 0.125rem solid rgba(10, 10, 10, 1);
  z-index: 10;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  border-radius: 0.125rem;
  width: calc(100%);
  height: calc(100%);
  background-color: rgba(10, 10, 10, 1);
  transition: 0.1s;
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(0.7);
}

.tooltip {
  & .tooltip-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    z-index: 1;
    line-height: 1.2;
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .tooltip-content > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover .tooltip-content,
  & .tooltip-content:hover {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 1240px) {
    & .tooltip-content {
      left: unset;
      right: 0%;
      transform: translateX(-0%);
    }
  }
}

.playfair-font {
  font-family: "Playfair Display", "IBM Plex Sans Thai", sans-serif !important;
}

[class*="btn-rounded"] {
  aspect-ratio: 1/1;
  display: flex;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  transition: 0.2s;
  cursor: pointer;
  & i {
    font-size: 1.25rem;
  }
  & .svg-icon {
    min-width: 1rem;
    min-height: 1rem;
    background-color: #000;
  }
}

.btn-rounded-gold {
  color: var(--gold);
  border-color: var(--gold);
  & .svg-icon {
    background-color: var(--gold);
  }
  &:hover {
    background: var(--gold);
    color: var(--body-gold);
    rect,
    path {
      fill: #fff;
      stroke: #fff;
    }
    & img {
      filter: contrast(100) grayscale(100%);
    }
    & .svg-icon {
      background-color: #fff;
    }
  }
  & i {
    font-size: 1.25rem;
  }
}

.btn-rounded-white {
  & .svg-icon {
    background-color: #000;
  }
  &:hover {
    background: #fff;
    color: #000;
    rect,
    path {
      fill: #000;
      stroke: #000;
    }
    img {
      filter: contrast(0) grayscale(100%);
    }
    & .svg-icon {
      background-color: #000;
    }
  }
}

.btn-rounded-stroke-white {
  background: rgba(6, 6, 6, 0.2);
  border-color: #FFF;
  & .svg-icon {
    background-color: #fff;
  }
  &:hover {
    background: #fff;
    color: #000;
    rect,
    path {
      fill: #000;
      stroke: #000;
    }
    img {
      filter: contrast(0) grayscale(100%);
    }
    & .svg-icon {
      background-color: #000;
    }
  }
}

.btn-rounded-black {
  color: #000;
  border-color: #000;
  & .svg-icon {
    background-color: #000;
  }
  &:hover {
    background: #000;
    color: #000;
    rect,
    path {
      fill: #000;
      stroke: #000;
    }
    & .svg-icon {
      background-color: #fff;
    }
  }
}

.btn-rounded-brown {
  color: var(--brown);
  border-color: var(--brown);
  & .svg-icon {
    background-color: var(--brown);
  }
  &:hover {
    background: var(--brown);
    color: var(--brown);
    rect,
    path {
      fill: var(--brown);
      stroke: var(--brown);
    }
    & .svg-icon {
      background-color: #fff;
    }
  }
}

[class*="btn-"]:not([class*="btn-rounded"], [class*="btn-stroke"]) {
  height: 2.5rem;
  padding: 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 0.3125rem;
  transition: background-color 0.2s;
}

.btn-gold {
  background: var(--gold);
  color: #fff;
  transition: background-color 0.2s;
  &:hover {
    background: hsl(from var(--gold) h s calc(l - 15));
  }
}

.btn-white {
  background: #fff;
  color: var(--brown);

  &:hover {
    background: var(--brown);
    color: #fff;
  }
}

.btn-stroke-gold {
  height: 2.5rem;
  padding: 0 2.5rem;
  background: transparent;
  border: 1px solid var(--gold);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--gold);
  transition: 0.2s;
  &:hover {
    background: var(--gold);
    color: var(--body-gold);
  }
}

.section-link {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  text-transform: uppercase;
  &:hover .btn-rounded-gold {
    background: var(--gold);
    color: var(--body-gold);
    rect,
    path {
      fill: #fff;
      stroke: #fff;
    }
    img {
      filter: contrast(100) grayscale(100%);
    }
  }
}

.heading-section-text {
  color: var(--gold);
  font-size: clamp(1.75rem, 5vw, 2.375rem);
}

.underline-link-gold {
  position: relative;
  color: var(--gold);
  display: block;
  width: fit-content;
  &::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 0.125rem;
    background: var(--gold);
    transition: 0.25s;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}
